<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>后台管理</title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/bootstrap-table.min.css">
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">后台管理</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">主页</a></li>
                        <li><a href="/add">添加班级</a></li>
                        <li><a href="/show">请假记录</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content">
            <table id="table"></table>
        </div>
        
        <script src="/public/jquery-3.3.1.min.js"></script>
        <script src="/public/layer/layer.js"></script>
        <script src="/public/bootstrap-table.min.js"></script>
        <script src="/public/bootstrap-table-zh-CN.min.js"></script>
        <script>//处理表格按钮的事件
            window.operateEvents = {
                "click #editButton":function (e,value,row,index)	{
                    // console.log();   //获取班级id值
                    window.location.href='/modify?q='+ $(this).parent().prevAll().last().text(); 
                },
                "click #deleteButton":function(e,value,row,index) {
                    var classname = $(this).parent().prevAll().eq(4).text();    //获取班级名称
                    var classid = $(this).parent().prevAll().eq(5).text();  //获取班级id  
                    layer.confirm('您确定要删除'+classname+'('+classid+')'+'吗?', {
                        btn: ['确定','取消'] //按钮
                        }, function(){
                            $.ajax({
                                method:'delete',
                                url: '/class',
                                data: {id: classid},
                                success: function(){
                                    layer.msg('删除成功');
                                    // layer.closeAll('dialog');  //关闭弹窗
                                }
                            });
                    });
                }
            };

            $("#table").bootstrapTable({ // 对应table标签的id
                method: "get",
                url: "/gettable", // 获取表格数据的url
                contentType: "application/x-www-form-urlencoded",
                search:true,
                cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
                pagination: true, // 在表格底部显示分页组件，默认false
                pageSize: 1, // 页面数据条数
                pageNumber: 1, // 首页页码
                queryParams:function(params) {  //发送给服务端的参数
                    return {
                        pageIndex : params.offset/params.limit+1,
                        search: params.search       
                    }
                },
                sidePagination: 'server', // 设置为服务器端分页
                columns: [
                    {
                        field: 'classid', // 返回json数据中的name
                        title: '班级id', // 表格表头显示文字
                        align: 'center', // 左右居中
                        valign: 'middle' // 上下居中
                    },{
                        field: 'classname', // 返回json数据中的name
                        title: '班级', // 表格表头显示文字
                        align: 'center', // 左右居中
                        valign: 'middle' // 上下居中
                    },{
                        field: 'deanid', // 返回json数据中的name
                        title: '班主任id', // 表格表头显示文字
                        align: 'center', // 左右居中
                        valign: 'middle' // 上下居中
                    },{
                        field: 'deanname', // 返回json数据中的name
                        title: '班主任', // 表格表头显示文字
                        align: 'center', // 左右居中
                        valign: 'middle' // 上下居中
                    },{
                        field: 'teacherid', // 返回json数据中的name
                        title: '辅导员id', // 表格表头显示文字
                        align: 'center', // 左右居中
                        valign: 'middle' // 上下居中
                    },{
                        field: 'teachername', // 返回json数据中的name
                        title: '辅导员', // 表格表头显示文字
                        align: 'center', // 左右居中
                        valign: 'middle' // 上下居中
                    },{
                        field: 'monitorid', // 返回json数据中的name
                        title: '班长id', // 表格表头显示文字
                        align: 'center', // 左右居中
                        valign: 'middle' // 上下居中
                    },{
                        field: 'monitorname', // 返回json数据中的name
                        title: '班长', // 表格表头显示文字
                        align: 'center', // 左右居中
                        valign: 'middle' // 上下居中
                    },{  
                        // field : 'op',        
                        title : '操作', 
                        align:'center',
                        events: operateEvents,
                        formatter : function(value, row, index) {
                            var strHtml = '<button type="button" class="btn btn-info btn-xs" id="editButton">修改</button>\
                                <button type="button" class="btn btn-danger btn-xs" id="deleteButton">删除</button>';
                            return strHtml;
                        }        
                    }
                ]
            });
        </script>
    </body>
</html>